@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
#img3{
    position: absolute;
    left: 8.81%;
    right: 50%;
    top: 19.81%;
    bottom: 70.63%;
}
#newway{/* A new way to explore the world */
    position: absolute;
    left: 56.38%;
    right: 13.56%;
    top: 21.53%;
    bottom: 76.68%;
    
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
}
#decade {
    position: absolute;
    left: 56.38%;
    right: 15.5%;
    top: 40.68%;
    bottom: 74.18%;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;
}
#learn {
    position: absolute;
    left: 58.81%;
    right: 35.69%;
    top: 26.41%;
    bottom: 72.51%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;

    display: flex;
    align-items: center;

    color: #FFFFFF;

    box-sizing: border-box;

    position: absolute;
    left: 56.38%;
    right: 33.38%;
    top: 60.52%;
    bottom: 72.62%;

    background: #FB8F1D;
    border-radius: 8px;
    padding: 16px;
}
