#pab,#end{
    position: absolute;
    left: 11.88%;
    right: 63.69%;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    line-height: 28px;

    color: #848484;
}
#pab{
    top: 80.04%;
    bottom: 4.46%;
    font-size: 18px;
}
#end{
    top: 90.53%;
    bottom: 2.97%;
    font-size: 17px;
}
h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 60px;
    
}
#desti{
    text-decoration: none;
    position: absolute;
    left: 43.06%;
    right: 49.75%;
    top: 70.64%;
    bottom: 6.28%;

    color: #000000;
}
#shop{
    text-decoration: none;
    left: 60.12%;
    right: 36.94%;
    top: 92.64%;
    bottom: 6.28%;

    color: #000000;
}
#inter{
    text-decoration: none;
    left: 78.06%;
    right: 17%;
    top: 92.64%;
    bottom: 6.28%;

    color: #000000;
}
a.destin, a.shopping,a.interesty {
    text-decoration: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    color: #848484;
    text-align: center;
}
#afri{
    left: 43.06%;
    right: 32.5%;
    top: 93.7%;
    bottom: 2.9%;
}